# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Working folders
notebooks/figures/
notebooks/utils/
notebooks/old/

# Mac files
*.DS_Store

# Large objects
notebooks/files/noise_ends*
notebooks/files/y_noise*